/* Inter font family */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Vast Shadow */
@import url("https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap");

/* DM+Sans */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define light mode styles */
body {
  background-color: #fff;
  color: #333;
}
/* Dark mode video background */
body.dark {
  background-color: #000;
  color: #fff;
}

/* Dark mode video background */
body.dark .dark-mode-video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

/* ===Skill page component style-> tailwind css custom code==== */
/* skillFullSection tailwind code */
.Skills-button {
  @apply flex flex-row gap-3 items-center bg-[#F7F1FD] border-[1.3px] border-[#acacac47] rounded-md py-4 px-5 transition-transform duration-300 cursor-pointer hover:scale-110 hover:bg-[#ead8fe] hover:border-[#cea8fc];
}
/* Skill icon tailwind code */
.Skills-icon {
  @apply text-xl group-hover:scale-110 transition-transform duration-300;
}
/* Skill text tailwind code */

.Skills-Text {
  @apply group-hover:translate-x-2 transition-transform duration-300 font-inter font-medium sm:text-base text-sm;
}

/* Contact form tailwind css code */
/* Contact form tailwind css code */

.contact-input {
  @apply outline-none w-full px-4 py-2 rounded-md font-medium text-sm placeholder:font-Dm_font placeholder:font-normal text-[#6b6b6b];
}
