/* Inter font family  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Vast Shadow */
@import url("https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap");

/* DM+Sans */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define dark mode styles */
body.dark {
  background-color: #141414;
  color: #fff;
}

/* Define light mode styles */
body {
  background-color: #fff;
  color: #333;
}
